<div id="as_admin__projects-active-scaffold" class="active-scaffold active-scaffold-as_admin__projects admin/projects-view default-theme">
	<div class="active-scaffold-header">
		<div class="actions">
			<%= link_to 'Back', {:action => 'index'}, {:class => 'action', :position => 'top'} %>
			<%= link_to 'Edit', {:action => 'edit', :id => @project_assignment}, {:class => 'action', :position => 'top'} %>
		</div>
		<h2>Project Assignment</h2>
		
		<table>
			<tr class="odd">
				<td>User</th>
				<td><%= @project_assignment.user.name %></td>
			</tr>
			<tr>
				<td>Project</th>
				<td><%= @project_assignment.project.name %></td>
			</tr>
			<tr class="odd">
				<td>Hourly Rate</th>
				<td><%= currency_format(@project_assignment.hourly_rate) %></td>
			</tr>
			<tr>
				<td>Type</th>
				<td><%= @project_assignment.assignment_type.name %></td>
			</tr>
			<tr class="odd">
				<td>Date Start</th>
				<td><%= date_format(@project_assignment.date_start) %></td>
			</tr>
			<tr>
				<td>Date End</th>
				<td><%= date_format(@project_assignment.date_end) %></td>
			</tr>
			<tr class="odd">
				<td>Role</th>
				<td><%= @project_assignment.role %></td>
			</tr>
			<tr>
				<td>Active?</th>
				<td><%= @project_assignment.active %></td>
			</tr>
		</table>
	</div>
	<!-- end of active-scaffold-header -->
</div>