<% scope ||= nil %>
<% logger.info "COLUMN IS #{column.name}" %>
<dl class="<%= column.css_class unless column.css_class.nil? %>">
  <dt>
    <label for="<%= active_scaffold_input_options(column, scope)[:id] unless column.name.to_s == 'user_to_user_roles' %>"><%= column.label %></label>
  </dt>
  <dd>
	<% # this is a hack for active scaffold to make it work with table USER_TO_USER_ROLES %>
	<% # since Active Scaffold doesn't seem to like tables without the default Rails way of creating primary keys, %>
	<% # we'll create the form ourselves. Sniff. :-( %>
	<% if column.name.to_s == 'user_to_user_roles' %>
		<% options = {:multiple => true} %>
		<% user_roles = UserRole.new.dropdown %>
		<% # remove --select-- since this is a multiple-select %>
		<% user_roles.delete_at(0) %>
		<% if params[:id] and (user = User.find(params[:id])) %>
			<% options[:values] = user.roles_ids %>
		<% end %>
		<%= select_options_tag('record[user_to_user_roles]', user_roles, options) %>
	<% else %>
    	<%= active_scaffold_input_for column, scope %>
	<% end %>
	
    <% if column.description -%>
      <span class="description"><%= column.description %></span>
    <% end -%>
  </dd>
</dl>